@charset "UTF-8";
body{
    margin: 40px;
    background:rgb(63, 8, 8);
}
.sair{
    position: fixed;
    top:20px;
    left: 20px;
    background-color: rgba(255,0,0,.7);
    color: white;
    border-radius: 50%;
    font-size: 18px;
    height: 32px;
    width: 32px;
    text-align: center;
}
.sair:hover{
    background-color: red;
}
.icon-undo2:before {
    content: "\e967";
    position: fixed;
    left: 25px;
    top: 25px;
}

  table.list{
      width:100%;
      border-radius: 10px;
      color: black;
      padding: 10px;
      background-color: rgba(255,0,0,.7);
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
      border: 1px ridge white ;
  }
  
  td, th {
      text-align: center;
      padding: 8px;
      color: rgb(255, 255, 255);
      border-bottom: 2px solid white;
  }
  table.list thead>tr {
      background-color: rgb(75, 75, 75);
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      border-bottom: 2px solid white;
}
  
  .form{
      background-image: url(https://thumbs.gfycat.com/RegalNegligibleChupacabra-size_restricted.gif);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      padding: 5px;
      text-align: center;
      margin-bottom: 20px;
  }

  input[type=submit]{
      width: 110px;
      background-color: rgb(4, 167, 158);
      text-transform: uppercase;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 15px;
      color: white;
      padding: 5px;
      margin: 8px;
      border-radius: 10px;
      border: 1px solid transparent; 
  }
  input[type=submit]:hover{
      background-color: rgb(8, 145, 145);
      border-bottom: 1px solid white;
      

  }
  

  a{
      cursor: pointer;
      color: white;
      margin: 15px;
      text-decoration: none;
  }
  
  label.validation-error{
      color:   rgb(28, 218, 231);
      margin-left: 5px;
  }
  
  .hide{
      display:none;
  }               

label{
    font-size: 16px;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 1.5;
    padding: 10px;
    margin-right: 5px;
    color: rgb(255, 255, 255);
}

  input[type=number] {
    width: 40px;
    margin: 15px 0;
    border-radius: 5px;
}
  input[type=text] {
    width: 30%;
    margin: 15px 0;
    border-radius: 5px;
}
.icon-cross:before {
    content: "\ea0f";
  }
  .icon-bullhorn:before {
    content: "\e91a";
  }

audio{
    height: 30px;
    width: 50px;
    margin: 10px;
}
audio:hover{
    width: 150px;
    transition: ease-out;
}


@media screen and (min-width: 290px){
    body{
        background-color:rgb(63, 8, 8);
    }

    .sair{
        position: fixed;
        top:20px;
        left: 20px;
        background-color: rgba(255,0,0,.7);
        color: white;
        border-radius: 50%;
        font-size: 18px;
        height: 32px;
        width: 32px;
        text-align: center;
    }
    .sair:hover{
        background-color: red;
    }

    input[type=submit]{
        width: 60px;
        background-color: rgb(4, 167, 158);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 10px;
        color: white;
        margin: 10px;
        border-radius: 10px;
        border: 1px solid transparent; 
    }
    input[type=submit]:hover{
        background-color: rgb(8, 145, 145);
        border-bottom: 1px solid white;
    }

    label{
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        margin-right: 5px;
        color: rgb(255, 255, 255);
    }

    audio{
        height: 20px;
        width: 40px;
        margin: 10px;
    }
    audio:hover{
        width: 100px;
        transition: ease-out;
    }

    table.list{
        width: 100%;
        border-radius: 10px;
        color: black;
        padding: 6px;
        background-color: rgba(255,0,0,.7);
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px ridge white ;
    }
    
    td, th {
        text-align: center;
        color: rgb(255, 255, 255);
        border-bottom: 2px solid white;
    }
    table.list thead>tr {
        background-color: rgb(75, 75, 75);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12x;
        padding: 5px;
        border-bottom: 2px solid white;
  }
    
}


@media screen and (min-width: 700px){
    body{
        background-color:rgb(63, 8, 8);
    }

    .sair{
        position: fixed;
        top:20px;
        left: 20px;
        background-color: rgba(255,0,0,.7);
        color: white;
        border-radius: 50%;
        font-size: 18px;
        height: 32px;
        width: 32px;
        text-align: center;
    }
    .sair:hover{
        background-color: red;
    }

    input[type=submit]{
        width: 90px;
        background-color: rgb(4, 167, 158);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        color: white;
        padding: 5px;
        margin: 10px;
        border-radius: 10px;
        border: 1px solid transparent; 
    }
    input[type=submit]:hover{
        background-color: rgb(8, 145, 145);
        border-bottom: 1px solid white;
    }

    label{
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1.5;
        padding: 5px;
        margin-right: 5px;
        color: rgb(255, 255, 255);
    }

    audio{
        height: 30px;
        width: 50px;
        margin: 10px;
    }
    audio:hover{
        width: 110px;
        transition: ease-out;
    }

    table.list{
        width: 100%;
        border-radius: 10px;
        color: black;
        padding: 6px;
        background-color: rgba(255,0,0,.7);
        font-family: Arial, Helvetica, sans-serif;
        border: 1px ridge white ;
    }
    td, th {
        text-align: center;
        padding: 10px;
        font-size: 18px;
        color: rgb(255, 255, 255);
        border-bottom: 2px solid white;
    }
    table.list thead>tr {
        background-color: rgb(75, 75, 75);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16x;
        padding: 5px;
        border-bottom: 2px solid white;
  }
    
}

@media screen and (min-width: 900px){
    body{
        background-image: url(img/fundo.png);
        background-repeat: no-repeat;
        background-position: top left;
        margin: 70px;
    }
    .sair{
        position: fixed;
        top:20px;
        left: 20px;
        background-color: rgba(255,0,0,.7);
        color: white;
        border-radius: 50%;
        font-size: 22px;
        height: 32px;
        width: 32px;
        text-align: center;
    }
    .sair:hover{
        background-color: red;
    }

    input[type=submit]{
        width: 110px;
        background-color: rgb(4, 167, 158);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 18px;
        color: white;
        padding: 5px;
        margin: 10px;
        border-radius: 10px;
        border: 1px solid transparent; 
    }
    input[type=submit]:hover{
        background-color: rgb(8, 145, 145);
        border-bottom: 1px solid white;
    }

    label{
        font-size: 18px;
        text-transform: uppercase;
        line-height: 2;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 10px;
        margin-right: 5px;
        color: rgb(255, 255, 255);
    }

    table.list{
        width: 100%;
        border-radius: 10px;
        color: black;
        padding: 10px;
        background-color: rgba(255,0,0,.7);
        font-family: Arial, Helvetica, sans-serif;
        border: 2px ridge white ;
    }
    td, th {
        text-align: center;
        padding: 10px;
        font-size: 22px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(255, 255, 255);
        border-bottom: 2px solid white;
    }
    table.list thead>tr {
        background-color: rgb(75, 75, 75);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20x;
        padding: 10px;
        border-bottom: 2px solid white;
  }

  audio{
    height: 50px;
    width: 80px;
    margin: 10px;
}
audio:hover{
    width: 150px;
    transition: ease-out;
}

    
}
